<!DOCTYPE html>
<html>
<head>
    <title>NG Form Example</title>   
    
    <link href="../style.css" rel="stylesheet" />
    <script src="../../js/angular-1.3.0/angular.js"></script>
</head>
<body class="example" ng-app>
         
<!--START-->
    
<form class="form_example" ng-init="model = { Title: 'Remember', 'Message': 'the milk' }">
    <label for="Title">Title</label>
    <input id="Title" ng-model="model.Title">
        
    <label for="Message">Message</label>
    <input id="Message" ng-model="model.Message">
</form>
         
<div id="jQuery_output" class="drop_shadow">
    <div>
        <h1>{{model.Title}}</h1>
        <p>{{model.Message}}</p>
    </div>
</div>

<!--STOP-->

</body>
</html>
